<div class="header">
  <div class="row">
    <div class="eight columns">
      <h2 class="channel-name">#<%= @channel.name %></h2>
    </div>
    <div class="four columns">
      <%= erb :search_form %>
    </div>
  </div>
  <a class="previous-day" href="<%= channel_path(@channel, date.advance(days: -1)) %>">
    ← <%= date.advance(days: -1).strftime('%Y-%m-%d') %>
  </a>

  <a class="next-day" href="<%= channel_path(@channel, date.advance(days: 1)) %>">
    <%= date.advance(days: 1).strftime('%Y-%m-%d') %> →
  </a>
</div>

<div class="messages">
  <% @messages.chunk(&:user).each do |user, paragraph| %>
    <div class="message" id="<%= message_dom_id(paragraph.first) %>">
      <img src="<%= user.image %>" class="avatar">
      <div class="message-header">
        <span class="user-name"><%= user.pretty_name %></span>
        <small class="mention-name">@<%= user.name %></small>
        <time class="timestamp">
        <a href="<%= url(message_path(paragraph.first)) %>">
            <%= format_time(paragraph.first.timestamp) %>
          </a>
        </time>
      </div>
      <div class="contents">
        <div class="message-content">
          <p><%= format_message paragraph.first.text %></p>
          <% paragraph.drop(1).each do |message| %>
            <p id="<%= message_dom_id(message) %>">
              <%= format_message message.text %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
