<div class="header">
  <h2 class="channel-name">#<%= @channel.name %></h2>

  <a class="previous-day" href="<%= channel_path(@channel, date.advance(days: -1)) %>">
    ← <%= date.advance(days: -1).strftime('%Y-%m-%d') %>
  </a>

  <a class="next-day" href="<%= channel_path(@channel, date.advance(days: 1)) %>">
    <%= date.advance(days: 1).strftime('%Y-%m-%d') %> →
  </a>
</div>

<div class="messages">
  <% @messages.chunk(&:user).each do |user, paragraph| %>
    <div class="message">
      <img src="<%= user.image %>" class="avatar">
      <div class="message-header">
        <span class="user-name"><%= user.pretty_name %></span>
        <small class="mention-name">@<%= user.name %></small>
        <time class="timestamp">
          <%= paragraph.first.timestamp.strftime('%-H:%M') %>
        </time>
      </div>
      <div class="contents">
        <div class="message-content">
          <p><%= format_message paragraph.first.text %></p>
          <% paragraph.drop(1).each do |message| %>
            <p><%= format_message message.text %></p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
